@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Bangers&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container: #e5e5e5;
}

.bangers {
  font-family: "Bangers", system-ui;
}

.aclonica {
  font-family: "Aclonica", sans-serif;
}
